:root{
    --background: #fdf9f9;
    --primary-color: #b6b6b6;
    --primary-accent: #555555;
    --secundary-color: #3d3d3d;
    --accent-color: #884188;
    --text-color: #000000;
}
.modo-oscuro{
    --background: #000000;
    --primary-color: #8b8b8b;
    --primary-accent: #555555;
    --secundary-color: #3d3d3d;
    --accent-color: #884188;
    --text-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
#botonTema{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
}
#botonTema svg{
    fill: var(--primary-accent);
}
#botonTema svg:last-child{
    display: none;
}
.modo-oscuro #botonTema svg:first-child{
    display: none;
}
.modo-oscuro #botonTema svg:last-child{
    display: block;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}
body{
    min-height: 100vh;
    padding: 5px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}
.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#tareasInput{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secundary-color);
    border-radius: 10px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#tareasInput:focus{
    outline: none;
}
form{
    position: relative;
}
#botonAñadir{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    font: inherit;
    font-weight: 800;
    color: var(--background);
    cursor: pointer;
}
.tarea{
    margin-bottom: 10px;
    padding: 0 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.tarea .tarea-texto{
    padding: 20px;
    padding-right: 0;
    flex-grow: 1;
    transition: 150ms ease;
}
.tarea-borrar{
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarea-borrar:hover svg{
    fill: #ff0000;
}
.tarea-borrar svg{
    transition: 150ms ease;
}
input[type="checkbox"]:checked ~ .tarea-texto{
    text-decoration: line-through;
    color: var(--secundary-color);
}
input[type="checkbox"]:checked{
    accent-color: var(--accent-color);
}
input[type="checkbox"]{
    transition: 150ms ease;
    cursor: pointer;
}

@media(max-width: 500px){
    html{
        font-size: 12px;
    }
    #botonAñadir{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 12px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 10vw;
    }
}